@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
/* Import the "Lato" font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Reset the default font for all elements */
* {
  font-family: "Lato", sans-serif;
  /* Add other global styles as needed */
}

/* Rest of your global CSS styles */
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Add your dark mode styles if needed */
@media (prefers-color-scheme: dark) {
  /* Dark mode styles */
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.neon-glow {
  text-shadow:
    0 0 3px #ffb6c1,
    0 0 6px #ffb6c1,
    0 0 9px #ffd700;
  animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
  from {
    text-shadow:
      0 0 2px #ffb6c1,
      0 0 4px #ffb6c1,
      0 0 6px #ffd700;
  }
  to {
    text-shadow:
      0 0 3px #ffb6c1,
      0 0 6px #ffb6c1,
      0 0 9px #ffd700;
  }
}

.flowing-gradient {
  background-size: 100% 100%;
  animation: flow 5s infinite alternate; /* Increased the duration */
}

@keyframes flow {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
